.container {
  width: 40rem;
  min-height: calc(100vh - 57px - 56px);
}

.container-30 {
  width: 30rem;
}

.container-50 {
  width: 50rem;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}